*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Montserrat ;
}
body{
    height: 100vh;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper{
    width: 950px;
}
.search {
    width: 600px;
    border-bottom: 1px solid #000000;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 79px;
    margin-bottom: 36px;
}

.search input {
    height: 24px;
    width: 163px;
    line-height: 24px;
    padding-left: 10px;
    /* border-radius: null; */
    color: #938C8C;
    border: none;
    background-color: transparent;

}

.search div {
    margin-right: 10px;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
} 
.card{
    background-color: #fff;
    border-radius: 20px;
    position: relative;
    margin: 20px 0px;
    width: 280px;
}
.card::before{
    content: "";
    position: absolute;
    height: 40%;
    width: 100%;
    background-color: rgb(149, 31, 199);
    border-radius: 20px 20px 0px 0px;
}
.card .card-content{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    /* ========= */
    z-index: 100;
}

section .card .image{
    width: 140px;
    height: 140px;
    padding: 3px;
    border-radius: 50%;
    background-color: rgb(149, 31, 199);
}
section .card .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;
}
.card .media-icons{
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card .media-icons .fab ,.fa-facebook ,.fa-twitter,.fa-instagram{
    color: #fff;
    margin-top: 10px;
    opacity: 0.6;
    transition: all 0.3s ease;
    cursor: pointer;
}
.card .media-icons .fab ,.fa-facebook:hover ,.fa-twitter:hover,.fa-instagram:hover{
    opacity: 1;
   
}
.card .name-profession{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: #333;
}
.card .name-profession .name{
    font-size: 20px;
    font-weight: 600;
}
.card .name-profession .profession{
    font-size: 15px;
    font-weight: 500;
}
.card .rating{
    display: flex;
    align-items: center;
    margin-top: 18px;
}
.card .rating .fa ,.fa-star{
    font-size: 18px;
    color: rgb(149, 31, 199);
    margin: 0px 2px;
}
.card .buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.card .buttons button{
    padding: 10px;
    width: 100%;
    background-color:rgb(149, 31, 199) ;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;

}
.card .buttons button:hover{
    background-color: rgb(188, 58, 249);
}