*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.search {
    width: 600px;
    border-bottom: 1px solid #000000;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 79px;
    margin-bottom: 36px;
}

.search input {
    height: 24px;
    width: 163px;
    line-height: 24px;
    border-radius: nullpx;
    color: #938C8C;
    border: none;
    background-color: transparent;

}

.search div {
    display: flex;
    gap: 18px;
}
#cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5rem;
}
.card{
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 4px 3px palevioletred;
    border-radius: 10px;
}
.title{
    font-size: 15px;
}
.images{
    width: 80%;
}
.category, .price{
font-weight:bold;
text-transform: capitalize;
margin: 8px;
font-size: 1.2rem;
}