*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search {
    width: 600px;
    border-bottom: 1px solid #000000;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

.search input {
    height: 24px;
    width: 163px;
    line-height: 24px;
    border-radius: nullpx;
    color: #938C8C;
    border: none;
    background-color: transparent;

}

.search div {
    display: flex;
    gap: 18px;
}
#cards{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(15,250px);
    grid-auto-rows: minmax(200px,auto);
    justify-content: start;
    align-items: center;
    width: 1300px;
    margin-top: 1rem;
    overflow-x: hidden;
    padding: 10px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 4px 3px palevioletred;
    border-radius: 10px;
    width: 220px;
    height: 480px;
    position: relative;
}
.title{
    font-size: 15px;
}
.images{
    width: 80%;
    height: 120px;
    margin: 15px 0px;
    border-radius: 25%;
}
.category, .price{
font-weight:bold;
text-transform: capitalize;
margin: 8px;
font-size: 1.2rem;
}
.btn{
    padding: 10px;
    width: 100%;
    background-color:palevioletred ;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
    bottom: 0px;
}
.btn:hover{
    background-color: rgba(216, 112, 147, 0.551);
}

.card::before{
    content: "";
    position: absolute;
    height: 30%;
    width: 100%;
    background-color: rgba(216, 112, 147, 0.715);
    border-radius: 10px 10px 0px 0px;
    z-index: -1;
    top: 0px;
    left: 0px;
}
